html{
    width: 100%;
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


/* Global Use */
button{
    cursor: pointer;
}

.bgwhite{
    background-color: white;
}

.border{
    border: 2px solid black;
}

/* Root : Main*/
.root .main{
    display: flex;
    
}


/* Root : Main : Article */
.root .main .article{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* Root : Main : Article : article-header */
.root .main .article .article-header{
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid black; */
}

.root .main .article .article-header .heading{
    padding: 20px 0px;
    font-size: large;
    font-weight: bold;
}

.root .main .article .article-header .profile{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.root .main .article .article-header .profile button{
    background-color: transparent;
    border: none;
}

.root .main .article .article-header .profile .notification{
    position: relative;
}

.root .main .article .article-header .profile .notification .dot{
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: blue;
    right: 6px;
    top: -1px;
}

.root .main .article .article-header .profile .name-img{
    display: flex;
    align-items: center;
}

.root .main .article .article-header .profile .name-img img{
    height: fit-content;
    width: fit-content;
    border-radius: 100%;
}


/* Root : Main : Article : Ticket-info */
.root .main .article .ticket-info{
    margin: 0px 20px;
    border-radius: 10px;
    border: 2px solid grey;
}

.root .main .article .ticket-info .ticket-header{
    padding: 25px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.root .main .article .ticket-info .ticket-header button{
    background-repeat: no-repeat;
    text-indent: 17px;
    background-color: transparent;
    border: none;
}

.root .main .article .ticket-info .ticket-header .btn-sort{
    background-image: url(icons/search1.png);
}

.root .main .article .ticket-info .ticket-header .btn-filter{
    background-image: url(icons/search1.png);
    margin-left: 15px;
}

.root .main .article .ticket-info .ticket-table{
    overflow-x: auto;
}

.root .main .article .ticket-info .ticket-table .table{
    /* table-layout: fixed; */
    width: 100%;
    /* border-collapse: collapse; */
    text-align: left;
}

/* .root .main .article .ticket-info .ticket-table .table tr{
    border: 2px solid black;
} */

.root .main .article .ticket-info .ticket-table .table .head-row{
    text-indent: 20px;
    color: gray;
}

.root .main .article .ticket-info .ticket-table .table .body-row{
    text-indent: 20px;
}

.root .main .article .ticket-info .ticket-table .table .body-row td{
    padding: 20px 0px;
    border-bottom: 2px solid grey;
}

.root .main .article .ticket-info .ticket-table .table .body-row .ticket-details{
    display: flex;
    align-items: center;
}

.root .main .article .ticket-info .ticket-table .table .body-row .ticket-details .photo img{
    height: fit-content;
    width: fit-content;
    border-radius: 100%;
}

.root .main .article .ticket-info .ticket-table .table .body-row .details{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.root .main .article .ticket-info .ticket-table .table .body-row .details small{
    font-size: 12px;
    color: grey;
}

.root .main .article .ticket-info .ticket-table .table .body-row .priority{
    padding: 7px 7px;
    border-radius: 20px;
}

.root .main .article .ticket-info .ticket-table .table .body-row .high{
    background-color: red;
}

.root .main .article .ticket-info .ticket-table .table .body-row .low{
    background-color: yellow;
}

.root .main .article .ticket-info .ticket-table .table .body-row .normal{
    background-color: green;
}
